@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: auto;
    height: 100vh;
  }

  .c2{
    color: blue;
  }
  
  .container_subnav {
    position: absolute;
    top: 80px; /* Adjust this value based on the height of your navbar */
    right: 0;
    padding: 1rem;
  }

  
  